<table>
    <tr>
        <th class="d30">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
        </th>
        <th class="d20">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Employer', :column_name => 'employer' } %>
        </th>
        <th class="d20">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Years', :column_name => 'start_year' } %>
        </th>
        <th class="d30">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Brief Description', :column_name => 'short_desc' } %>
        </th>
        <th></th>
    </tr>

    <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= render :partial => 'jobs/link_to_job', :locals => {:job => job} %>
            </td>
            <td><%= decode(job.employer) %></td>
            <td>
                <%= render :partial => 'years/link_to_year', :locals => {:year => job.start_year} %>
                &ndash;
                <%= render :partial => 'years/link_to_year', :locals => {:year => job.end_year} %>
            </td>
            <td>
                <%= decode(job.short_desc) %>
            </td>
        </tr>
    <% end %>
</table>