<% content_for :head do %>
    <hgroup>
        <h1><%= @user.name %>&rsquo;s Resumes</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @cvs.each do |cv| %>
                    <tr>
                        <td>
                            <%= cv.id %>
                        </td>
                        <td>
                            <a href="/users/<%= @user.id %>/cvs/<%= cv.id %>/" rel="internal" title="View this resume">
                                /users/<%= @user.id %>/cvs/<%= cv.id %>/
                            </a>
                        </td>
                        <td>
                            <a href="/users/<%= @user.id %>/cvs/<%= cv.id %>/edit" rel="internal" title="Edit this resume">
                                [Edit]
                            </a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </section>
<% end %>