<% content_for :head do %>
    <hgroup>
        <h1><%= @user.name %></h1>
        <h2><%= @cv.title %></h2>
        <a href="<%= user_cv_path %>/?printable=true" rel="canonical" title="View this resume in a printer&#45;friendly format">
            [printer&#45;friendly format]</a>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>Recent Positions/Projects</h1>

        <%= render :partial => "jobs/small_list" %>
        [&hellip;] <a href="<%= user_cv_path %>/jobs" rel="internal" title="">See all jobs</a>
    </section>

    <section class="secondary">
        <h1>
            <a href="<%= user_cv_path %>/disciplines" rel="internal" title="See a list of disciplines in which I've worked">Disciplines</a>
        </h1>

        <%= render :partial => "disciplines/list" %>
    </section>

    <section class="secondary">
        <h1>
            <a href="<%= user_cv_path %>/softwares" rel="internal" title="See a list of software applications I've used professionally">Software</a>
        </h1>

        <%= render :partial => "softwares/list", :locals => { :softwares => @softwares, :abbreviated => true} %>
    </section>

    <section class="secondary extended">
        <h1>
            <a href="<%= user_cv_path %>/skills" rel="internal" title="See a list of my skills">Skills</a>
        </h1>

        <%= render :partial => "skills/small_list_by_discipline", :locals => { :disciplines => @disciplines, :skills => @skills } %>
    </section>

    <section class="secondary extended">
        <%= render :partial => "cvs/education" %>
    </section>
<% end %>