<table>
    <tr>
        <% if !current_user.nil? %>
            <th class="d10 numericData">
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'ID', :column_name => 'id' } %>
            </th>
        <% end %>
        <th class="d40">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
        </th>
    </tr>

    <% @softwares.each do |software| %>
        <tr>
            <% if !current_user.nil? %>
                <td class="numericData"><%= software.id %></td>
            <% end %>
            <td>
                <a href="/softwares/<%= software.id %>" rel="internal" title="See jobs this application was used in">
                    <%= decode(software.title) %>
                </a>
            </td>
        </tr>
    <% end %>
</table>