<a href="/users/<%= @user.id %>/cvs/<%= @cv.id %>/softwares/<%= software.slug %>" rel="internal" title="See other positions where I used <%= decode(software.title) %>">
    <%= decode(software.title) %>
</a>