<%= form_for(@job_skill) do |f| %>
  <% if @job_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_skill.errors.count, "error") %> prohibited this job_skill from being saved:</h2>

      <ul>
      <% @job_skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br />
    <% if @jobs.nil? %>
        <p><%= @job.title %></p>
        <input id="job_skill_job_id" type="hidden" name="job_skill[job_id]" value="<%= @job.id %>" />
    <% else %>
        <select id="job_skill_job_id" name="job_skill[job_id]">
            <option value=""></option>
            <% @jobs.each do |job| %>
                <option value="<%= job.id %>"<%= " selected='selected'" if !@job.nil? && @job.id == job.id %>>
                    <%= decode(job.title) %>
                </option>
            <% end %>
        </select>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br />
    <% if @skills.nil? %>
        <p><%= @skill.title %></p>
        <input id="job_skill_skill_id" type="hidden" name="job_skill[skill_id]" value="<%= @skill.id %>" />
    <% else %>
        <select id="job_skill_skill_id" name="job_skill[skill_id]">
            <option value=""></option>
            <% @skills.each do |skill| %>
                <option value="<%= skill.id %>"<%= " selected='selected'" if !@skill.nil? && @skill = skill.id %>>
                    <%= decode(skill.title) %>
                </option>
            <% end %>
        </select>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
