<%= form_for(@job_year) do |f| %>
  <% if @job_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_year.errors.count, "error") %> prohibited this job_year from being saved:</h2>

      <ul>
      <% @job_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br />
    <% if @jobs.nil? %>
        <p><%= @job.title %></p>
        <input id="job_year_job_id" type="hidden" name="job_year[job_id]" value="<%= @job.id %>" />
    <% else %>
        <select id="job_year_job_id" name="job_year[job_id]">
            <option value=""></option>
            <% @jobs.each do |job| %>
                <option value="<%= job.id %>"<%= " selected='selected'" if !@job.nil? && @job.id == job.id %>>
                    <%= job.title %>
                </option>
            <% end %>
        </select>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :year_id %><br />
    <% if @years.nil? %>
        <p><%= @year.value %></p>
        <input id="job_year_year_id" type="hidden" name="job_year[year_id]" value="<%= @year.id %>" />
    <% else %>
        <select id="job_year_year_id" name="job_year[year_id]">
            <option value=""></option>
            <% @years.each do |year| %>
                <option value="<%= year.id %>"<%= " selected='selected'" if !@year.nil? && @year.id == year.id %>>
                    <%= year.value %>
                </option>
            <% end %>
        </select>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
